body {
    background-color: #181818;
    color: #ffffff;
}

.navbar {
    background-color: #202020;
}

.form-control {
    background-color: #181818;
    color: #ffffff;
    border-color: #404040;
}

.form-control:focus {
    background-color: #202020;
    color: #ffffff;
}